<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descrição da Planta</title>
</head>
<body>
    <h2>Descrição da Planta</h2>
    <p id="descricao"></p>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obter a descrição da URL
            var descricaoParam = new URLSearchParams(window.location.search).get('descricao');

            // Exibir a descrição na página
            document.getElementById('descricao').innerText = descricaoParam;
        });
    </script>
</body>
</html>