<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Planta</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(255, 205, 205);
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
        }

        h2 {
            color: #333;
        }

        p {
            color: #555;
        }
    </style>

</head>

<body>
    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        
        <h2> Nome: </h2>
        <p> {{ nome }}</p>
        
        <h2>Descrição:</h2>
        <p>{{ descricao }}</p>

        <h2>Cuidados:</h2>
        <p>{{ cuidados }}</p>

    

    </div>

    <div class="back-button-container">
        <a href="{% url 'listar_plantas' %}" class="btn back-button">Voltar para a Lista de Plantas</a>
    </div>
</body>
</html>
